

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.light {

}
.dark .App-header {
    background-color: white;
    color: #282c34;
}
.dark main {
    background-color: #282c34;
    color: white;
}
.dark button {
    background-color: black;
    color: mediumseagreen;
    border-color: mediumseagreen;
}
.light button {
    background-color: mediumseagreen;
    color: black;
    border-color: black;
}

button.selected {
    border-width: 3px;
}
